input:required:invalid, input:focus:invalid {
  border-color: "red";
  -moz-box-shadow: none;
}

input#ShopName:invalid{
  border-style: dotted;
  border-color: "red";
  -moz-box-shadow: none;
}

#IphoneElement{
  margin: 0px;
  width: 340px;
}

.iphone_header{
  margin: 0px;
  background: linear-gradient(rgba(238,246,245,0.5), rgba(255,255,255,0.1));
  width: 340px;
}

@-webkit-keyframes swipeRight {
  0% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes swipeRight {
  0% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.swipeRight {
  -webkit-animation-name: swipeRight;
          animation-name: swipeRight;
}




.duck-underline-disabled {
    border-style:solid;
    border-width:2px;
    border-color: rgba(0,0,0,0.2);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    text-align: center;
    color: rgba(0,0,0,0.2);
}

.react-reorderable-item-active,
.draggable-element {
  width: 70px;
  height: 70px;
  margin-top:24px;
  margin-right: 14px;
}
.draggable-element {

  width: 70px;
  height: 70px;
  margin-top:24px;
  margin-right: 14px;
  background-color:#c2d469;
  background: #c2d469; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #c2d469 0%, #1ba6e1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #c2d469 0%,#1ba6e1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #c2d469 0%,#1ba6e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2d469', endColorstr='#1ba6e1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  opacity:0.8;
  /*border: 3px solid #444; */
  border-radius: 20px;
  border-width: thick;
  border-style: solid;
  text-align: center;
  font-size: 60px;
  box-shadow:5px 5px 10px grey;
  background-repeat: no-repeat;
  background-position: center;
  filter: url(#color-matrix);
  -webkit-filter: url(#color-matrix);
}

.filter-me{
  filter: url(#color-matrix);
  -webkit-filter: url(#color-matrix);
}

svg{
  width: 0px;
  height: 0px;
}

.blur_white{
  background: linear-gradient(#EEE, #EFF);
  background-color: linear-gradient(#EEE, #EFF);
}

.next-blue{
  background-color: #4BA2EC;
  border-color: #4BA2EC;
}

.text-blue{
  color: #4BA2EC;
}

.text-focus-blue{
  text-align: center;
  color: rgba(0,10,100,0.3);
}

.duck-focus-underline{
  border-style:solid;
  border-width:2px;
  border-color: rgba(0,10,100,0.3);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.next-btn{
padding-left: 35px;
padding-right: 35px;
padding-top: 7px;
padding-bottom: 8px;
border-radius: 2px;
}

#ShopName, #stepbar, .back_white{
  background: rgba(255,255,250,0.2);
}

.no-border{
  border: 0px;
}

.foreground-white{
  background: rgba(255,255,250,0.9);
  background-color: rgba(255,255,250,0.9);
}


#gradient-box, .focus-white{
  background: #FFF;
  background-color: #FFF;
}

.spacer{
  margin-top: 20px;
  margin-bottom: 20px;
}

.gradient-box {
    margin: auto;
    border: 1px #4fa5b8;
    border-style: solid;
    border-width: thick;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
  }

  .feature_row{

  }

  .relative{
    position: relative;
    margin-bottom: 5px;
  }

  .step_row{
    height: 135px;
  }

  .gradient-round{
    position: absolute;
    margin: auto;
    width: 135px;
    height: inherit;
    border: 5px solid transparent;
    border-color: #EEE;
    border-radius: 10%;
  }

.gallery{
  background-image: url(../dist/img/image-icon.png);
}

.callus{
  background-image: url(../dist/img/call-us.png);
}

.fanwall{
  background-image: url(../dist/img/fanwall.png);
}

.fb{
  background-image: url(../dist/img/fb-icon.png);
}

.video{
  background-image: url(../dist/img/video-icon.png);
}

.aboutus{
  background-image: url(../dist/img/about-us.png);
}



.draggable-handle {
  /*background-color: grey;*/
  float: center;
  cursor: move;
  font-size: 12px;
  padding-top: 10px;
  border-radius: 20px;
  font-family: sans-serif;
  text-align: center;
}

.header{
  display: block;
  width: 100%;
  height: 20%;
}

.content {
  position: relative;
  width: 410px;
  height: 836px;
  float: right;
}

.content_left {
  width: 410px;
  height: 836px;
  float: left;
}

.center{
  float: none;
}

.center-right{
  text-align: center;
}

.right{
  float: right;
}

#layer1{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.inside_the_phone{
  margin-top: 110px;
  margin-left: 20px;
  height: 690px;
  width: 350px;
}

.steps_option{
  font-size: 1.5vw;
  padding-right: 15px;
}

.template1{
  margin-left: 10px;
  width: 150px;
}

.template2{
  margin-left: 10px;
  width: 320px;
  height: 45px;
  background-size: 20px;
}

.template3{
  margin-left: 10px;
  width: 150px;
  height: 115px;
  background-size: 50px;
}

.logo{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: #67675D;
  border-style: ridge;
  border-width: thin;
}



#layer2{
  position: relative;
  z-index: 1;
  display: inherit;
}

.home_button{
  position: absolute;
  height: 105px;
  width: 100%;
}

.home_button.bottom{
  bottom: 0;
  left: 0;
}

.home_button.top{
  top: 0;
  left: 0;
  position: relative;
  height: 65px;
}

#result{
  padding-top: 15px;
  font-size: 36px;
  font-style: oblique;
  font-weight: bold;
  font-family: fantasy;
  text-align: center;
}

.error{
  border-width: thick;
  border-style: dashed;
  border-color: red;
}

.taskbar{
  padding-bottom: 20px;
  width: 100%;
}

#task-left{
  text-align: left;}

#task-center{
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
}

#tasl-right{
  text-align: right;
  padding-left: 10px;
}


.react-reorderable-item {
  display: inline-block;
}

.react-reorderable-item-active {
  border: 3px dashed grey;
  background: none;
  border-radius: 20px;
}
.react-reorderable-item-active * {
  display: none;
}
.react-reorderable-handle {
  position: absolute;
}
